@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Shippori+Mincho+B1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho B1', serif;
 }

 body {
  background-color: #1B2430;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 }

 @keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

 header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.356) 0px 1px 10px;
  padding: 0rem 0.4rem;
 }
 header .logo {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;;
  cursor: default;
 }
 header .menu-btn {
  text-decoration: none;
  border-radius: 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 0.3rem 1rem;
  background-color: #51557E;
  font-weight: bolder;
 }
 nav {
  width: 100%;
  height: 100vh;
  background-color: #1B2430;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
 }
 nav a {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
 }

.color {
  color: #51557E;
  font-weight: bolder;
  font-size: 1.9rem;
}

 nav .on {
  color: black;
  background-color: #51557E;
  padding: 0.3rem 100%;
 }
 nav #close-nav {
  position: fixed;
  right: 0;
  margin: 0.3rem 0.5rem;
  top: 0;
  padding: 0.3rem 2rem;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  background-color: #51557E;
  border-radius: 100px;
  font-size: 1rem;
 }
 nav #close-nav:hover::after {
  content: none;
 }

 .hide {
  visibility: hidden;
 }
 

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 


.wl {
  color: white;
  font-size: 3rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;

}

.weltext {
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem 2rem;
  color: white;
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}

.welgif {
  width: 90%;
  border-radius: 5px;
  border: #DCD7C9 solid 2px;
}

.flare {
  color: #51557E;
}

.re {
  font-size: 1.2rem;
  color: #D6D5A8;
}

.ret {
  margin: 1rem 1rem;
  text-align: center;
}